.container{
    font-family: sans-serif;
}
.bg-header{
    background-image: url("../img/background-header.png");
    background-size: cover;
    background-attachment: fixed;
}
.marg{
    width: 1200px;
    margin: 0 auto;
}
.header{
    height: 80px;
    background-color: rgba(73, 71, 63, 0.76);
    display: flex;
    justify-content: space-evenly;
}
.logotype{
    text-decoration: none;
}
.logo-text {
    margin-left: 62px;
    color: white;
    font-size: 32px;
}
.logo-text>span{
    color:#1cc9a7 ;
}
.logo-bg {
    width: 58px;
    height: 27px;
    background: #1cc9a7;
    position: relative;
    top: 25px;
    box-sizing: border-box;
    color: white;
    font-size: 32px;
    padding-left: 18px;
    font-weight: bold;
}
.logo-bg:before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: -20px;
    left: 0;
    border-left: 29px solid transparent;
    border-right: 29px solid transparent;
    border-bottom: 20px solid #1cc9a7;
}
.logo-bg:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    bottom: -20px;
    left: 0;
    border-left: 29px solid transparent;
    border-right: 29px solid transparent;
    border-top: 20px solid #1cc9a7;
}

.menu{
    margin-top: 30px;
}
.nav-menu{
    text-decoration: none;
    color: #a8a8a7;
}
.nav-menu:hover{
    color:#1cc9a7 ;
}
.search{
    border: none;
    background: none;
    cursor: pointer;
    color:#a8a8a7 ;
}
.home{
    text-align: center;
    margin-top: 210px;
}
.home-text{
    font-size: 35px;
    color: white;
    margin-top: 45px;
}
.home-text>span{
    color:#1cc9a7;
}
.home-text.uppercase{
    font-size: 79px;
    text-transform: uppercase;
}
.home-text.silver{
    font-size: 33px;
    color: #a8a8a7;
}
<<<<<<< HEAD
.buttons{
    margin-top: 150px;
    padding-bottom: 150px;

}
.btns{
    box-sizing: border-box;
    width: 166px;
    height: 61px;
    display: inline-flex;
    padding: 23px 0 0 35px;
    border-top: white 3px solid;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
    color: white;
}
.btns:hover{
    border-top: #d1d1d1 3px solid;
}
.green{
    background-color: #18cfab;
}
.blue{
    background-color: #00cbf6;
}
.four-options{
    display: flex;
    font-family: sans-serif;
}
.optn{
    width: 100%;
    height: 374px;
    background-color: #1c2a33;
    border-top: #18cfab solid 3px;

}
.optn:nth-child(even){
    background-color:#18cfab ;
    border-top: white solid 3px;
}
.logo-content{
    display: block;
    margin: 100px auto;
}
.content{
    text-align: center;
    color: #18cfab;
    text-transform: uppercase;
}
.white-text{
    color: white;
}
.liner:after{
    content: " ";
    display: block;
    width: 77px;
    height: 1px;
    background-color: #18cfab;
    margin: 6px 48%;
}
.under{
    margin: 50px 42px 0 0;
}
     /*OUR SERVICE*/
.our-service-text{
    font-size: 36px;
    color: #4e4e4e;
    text-align: center;
    margin-top: 80px;
}
.tabs{
    margin-top: 43px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.tabs li {
    border: 1px solid #ebebeb ;
    padding: 25px 50px;
    color: #717171;

}
.hover-li.active{
    position: relative;
    background-color: #18cfab;
}
.hover-li.active:after{
    content: '';
    border: 12px solid transparent;
    border-top: 12px solid #18cfab;
    position: absolute;
    left: 50%;
    margin-left: -12px;
    bottom: -23px;
    width: 0;

}
.tabs-content{
     display: flex;
}
.tabs-text{
    display: none;
    color: #717171;
    font-size: 14px;
    margin: 20px;
}
.tabs-text.active{
    display: flex;
}
.ptext{
    padding: 30px;
}
/*everything is ready*/
.everything{
    background-image: url("../img/background-everything.png");
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    height: 450px;
    text-align: center;
}
.bg-line{
    background: rgba(0, 0, 0, 0.7);
    height: 450px;
}
.text-everything.aper{
    text-transform: uppercase;
    color: #18cfab;
    font-size: 40px;
    padding-top: 128px;
}
.text-everything{
    color: #bebdbc;
    font-size: 16px;
    text-align: center;
    margin-top: 35px;
}
.btns.blue.for-everything{
    margin-top: 100px;
}

  /*amazing-work*/
.amazing-work{
    text-align: center;
}
.amazing-work-text{
    color: #4e4e4e;
    font-size: 36px;
    margin: 100px 0 50px 0 ;
}
.amazing-work-tabs{
    display: flex;
    justify-content: center;
    margin: 50px 0 50px 0;
}
.menu-tabs{
    border: 1px solid #ebebeb ;
    padding: 25px 50px;
    color: #717171;
    cursor: pointer;
}
.menu-tabs.active{
    border-top: 2px solid #18cfab;
}
.tabs-img{
    display: none;
}
.tabs-img.active{
    display: block;
}
.button-img{
    display: none;
}
.button-img.active{
    display:block;
}
    /*SLIDER*/
.bg-slider{
    background-image: url("../img/background-slayder.png");
    background-size: cover;
}
.slider-header{
    text-align: center;
    color: white;
    font-size: 36px;
    padding-top: 80px;
}
.fa.fa-quote-left{
    color: #18cfab;
    font-size: 50px;
    text-align: center;
    display: block;
    margin: 80px 0 50px 0;
}
.slider-text{
    text-align: center;
    color: #bbbbbb;
    font-size: 16px;
    display: block;
}
.photo-user{
    border-radius: 50%;
    margin: 27px auto 57px;
}
.photo-user-bottom{
    border-radius: 50%;
}
.slick-slider{
    display: flex;
}
.slider-photo-user-bottom{
    margin: 0 auto;
    width: 41%;
}
.photo-user-bottom{
    width: 50px;
    height: 50px;
    margin: 20px;
}
.next-btn. {
    width: 30px;
    height: 30px;
    border: 1px solid #bbbbbb;
    background: url("../img/rite.png") no-repeat center;
    cursor: pointer;
    position: relative;
    top: 30px;
    text-decoration: none;
    left: 23px;
}

.prev-btn {
    width: 30px;
    height: 30px;
    border: 1px solid #bbbbbb;
    background: url("../img/left.png") no-repeat center;
    cursor: pointer;
    position: relative;
    top: 90px;
    left: 290px;
}

.next-btn {
    width: 30px;
    height: 30px;
    border: 1px solid #bbbbbb;
    background: url("../img/rite.png") no-repeat center;
    cursor: pointer;
    position: relative;
    top: 90px;
    left: 800px;
}

.prev-btn:hover {
    border-color: transparent;
    background: #18cfab url(../img/left-hover.png) no-repeat center;
}
=======
>>>>>>> ebabdd1e09750c3590fd3792f58c71beb7f0867a

.next-btn:hover {
    border-color: transparent;
    background: #18cfab url(../img/rite-hover.png) no-repeat center;
}